*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
}

body{
    background-color: rgb(187, 164, 137);
    width: 100%;
}

footer{
    padding: 40px;
    background-color: rgb(114, 66, 3);
    color: white;

}
.sescao-principal{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    height: 200px;
    background-image: url("../galeria/backgrounds/banner-top.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.753);
}

.menu{
    width: 100%;
    margin-bottom: 40px;
}

.menu-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    text-align: center;
    list-style: none;
    text-indent: 0;
    background-color: rgb(114, 66, 3);
    color: white;
    font-weight: bold;
    
}

li.navegador{
    
    padding: 8px 10px;
    margin: 0 2px;
}

.navegador a{
    color: white;
}

.item-menu{
    
    background-color: brown;
    color: white;
    padding: 15px 25px;
    border: 3px solid rgb(110, 9, 9);
    border-radius: 25px;
    font-size: 15pt;
    text-decoration: none;
    width: 200px;
    margin: 3px auto;
}

.button-kitchen{
    background-color: brown;
    color: white;
    border-radius: 25px;
    margin: 25px auto 10px auto;
    border: 3px solid rgb(110, 9, 9);
}

.icon-button{
    width: 70px;
    padding: 0 60px;
}

.lista-receitas-felyne{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}








table{
    width: 90%;
    max-width: 800px;
    margin: 25px auto;
    border-collapse: collapse;
    background-color: white;
}

ul{
    list-style: none;
    
}
li{
    text-align: left;
    text-indent: 0px;
}

.receitas tr td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}


.item td{
    border: 1px solid black;
    border-collapse: collapse;
    writing-mode: vertical-lr;
    text-align: center;
    padding: 10px 0;
}
thead th{
    background-color: aquamarine;
    border: 1px solid black;
    writing-mode: vertical-lr;
    padding: 10px 0;
}

@media only screen and (min-width: 800px){
    .item td{
        writing-mode: horizontal-tb;
    }
    thead th{
        writing-mode: horizontal-tb;
    }
}

.item2{
    font-weight: bold;
    font-size: 14pt;
    background-color: aquamarine;
}

.ruim{
    background-color: rgb(182, 11, 20);
    color: white;
}



.sescao-principal-area{
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.item-area{
    
    background-color: brown;
    color: white;
    padding: 10px 10px;
    border: 3px solid rgb(110, 9, 9);
    border-radius: 25px;
    font-size: 15pt;
    text-decoration: none;
    width: 40%;
    height: 70px;
    margin: 3px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 1px 3px black;
    background-size: cover;
    background-repeat: no-repeat;

}

.area-snowy{
    background-image: url("/galeria/areas/background/snowy-mountains.jpg");
}
.area-jungle{
    background-image: url("/galeria/areas/background/jungle.jpg");
}
.area-desert{
    background-image: url("/galeria/areas/background/desert.jpg");
}
.area-swamp{
    background-image: url("/galeria/areas/background/swamp.jpg");
}
.area-volcano{
    background-image: url("/galeria/areas/background/volcano.jpg");
}
.area-greatforest{
    background-image: url("/galeria/areas/background/great-forest.jpg");
}
.area-foresthills{
    background-image: url("/galeria/areas/background/forest-hills.jpg");
}
.area-oldjungle{
    background-image: url("/galeria/areas/background/old-jungle.jpg");
}
.area-olddesert{
    background-image: url("/galeria/areas/background/old-desert.jpg");
}
.area-oldswamp{
    background-image: url("/galeria/areas/background/old-swamp.jpg");
}
.area-oldvolcano{
    background-image: url("/galeria/areas/background/old-volcano.jpg");
}
.area-fortress{
    background-image: url("/galeria/areas/background/fortress.jpg");
}
.area-town{
    background-image: url("/galeria/areas/background/town.jpg");
}
.area-tower{
    background-image: url("/galeria/areas/background/tower.jpg");
}
.area-tower2{
    background-image: url("/galeria/areas/background/tower2.jpg");
}
.area-tower3{
    background-image: url("/galeria/areas/background/tower3.jpg");
}
.area-castle{
    background-image: url("/galeria/areas/background/castle.jpg");
}
.area-battleground{
    background-image: url("/galeria/areas/background/battleground.jpg");
}
.area-snowypeak{
    background-image: url("/galeria/areas/background/snowy-mountains-peak.jpg");
}
.area-arena{
    background-image: url("/galeria/areas/background/arena.jpg");
}
.area-greatarena{
    background-image: url("/galeria/areas/background/great-arena.jpg");
}
.area-moatarena{
    background-image: url("/galeria/areas/background/moat-arena.jpg");
}


.anuncio{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}

.frame-area{
    width: 90%;
    height: 400px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    margin: 50px auto;
    border: 3px solid rgb(48, 1, 1);
    
}