.quests{
    width: 100%;
    background-color: antiquewhite;
    border-collapse: collapse;
}
.quests tbody td{
    /*border: 1px solid black;*/
    font-size: 11pt;
}
.quests tbody tr:hover{
    background-color: rgb(182, 167, 127);
}
.quests tbody tr.urgent-quest:hover{
    background-color: rgb(2, 71, 23);
}
.n-quest{
    width: 10%;
}
.obj-quest{
    width: 40%;
    text-align: center;
}
.reward-quest .area-quest{
    width: 20%;
}
.note-quest{
    width: 15%;
}

.icon-area{
    width: 40px;
    margin: 5px auto;
}

.urgent-quest{
    background-color: rgb(148, 33, 33);
    color: white;
}

.bt-quest{
    width: 80%;
    height: 35px;
    background-color: brown;
    color: white;
    border: 3px solid rgb(110, 9, 9);
    border-radius: 25px;
    text-decoration: none;
    margin: 10px auto;
    cursor: pointer;

}



.new-quest{
    display: flex;
}

.new-quest-bt{
    margin: 5px 0;
    padding: 5px 15px;
    width: 100%;
    border: none;
    background-color: rgb(134, 84, 37);
    border-top: 3px solid rgba(99, 57, 2, 0.856);
    font-size: 14pt;
    font-weight: bold;
}

.quest-img{
    width: 130px;
    margin: 10px auto;
}


.card-quest{
    width: 95%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}
.card-quest .descr{
    width: 50%;
    border: 1px solid black;
    padding: 5px;
}
span{
    font-weight: bold;
}
.card-quest .info{
    width: 50%;
    border: 1px solid black;
    padding: 5px;
}
.info p{
    text-align: left;
}
.card-quest .notes{
    width: 100%;
    border: 1px solid black;
}
.notes p{
    width: 100%;
    text-align: left;
}
.icon-quest{
    width: 70px;
}

.class-quest{
    width: 100%;
    text-align: left;
    padding: 5px;
}

.key{
    background-color: rgb(15, 116, 2);
    color: white;
}
.urgent{
    background-color: rgb(156, 26, 3);
    color: white;
}