.quests{
    width: 100%;
    background-color: antiquewhite;
    border-collapse: collapse;
}
.quests tbody td{
    /*border: 1px solid black;*/
    font-size: 11pt;
}
.quests tbody tr:hover{
    background-color: rgb(182, 167, 127);
}
.quests tbody tr.urgent-quest:hover{
    background-color: rgb(2, 71, 23);
}
.n-quest{
    width: 10%;
}
.obj-quest{
    width: 40%;
    text-align: center;
}
.reward-quest .area-quest{
    width: 20%;
}
.note-quest{
    width: 15%;
}

.icon-area{
    width: 40px;
    margin: 5px auto;
}

.urgent-quest{
    background-color: rgb(148, 33, 33);
    color: white;
}

.bt-quest{
    width: 80%;
    height: 35px;
    background-color: brown;
    color: white;
    border: 3px solid rgb(110, 9, 9);
    border-radius: 25px;
    text-decoration: none;
    margin: 10px auto;
    cursor: pointer;

}